# Profound Data

- data imported via: https://github.com/COST-FP1304-PROFOUND
- get structure via: https://cran.r-project.org/web/packages/ProfoundData/vignettes/PROFOUNDdatabase.html

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

for running PRELES the following Data is needed:
- PAR: daily sums of photosynthetically active radiation [mmol/m2]


- TAir: mean temperature daily [Â°C]
          - Climate_Local: tmean_degC [daily mean]

- VPD: mean vapour pressure deficits of the day
          - Meteorological: vpdF_hPa [half-hourly]
          
- Precip: precipitation above canopy
          - Meteorological: p_mm [haf hourly]
          - Climate: p_mm [total daily in mm]

- CO2: of air [ppm]
          - CO2_ISIMIP: co2_ppm

- fAPAR: fraction of absorbed photosynthetic radiation; estimatable from LAI {0,1}
          - MODIS: LAI, fpar
          - STAND: LAI
  estimatable via Beer-Lambert law
  
  $f_{aPAR}=1-e^{-kL}$ with $k$ extinction coefficient and $L$ leaf area index $\left[\frac{m^2}{m^2}\right]$
  

- DOY: Day of year

- GPP:
          - MODIS: gpp_gCm2d (1km & 8-day resolution)

In [2]:
#connect to database
con = sqlite3.connect('C:/Users/Niklas/Desktop/Uni/M.Sc. Environmental Science/Thesis/physics_guided_nn/data/ProfoundData.sqlite')

In [3]:
#select data needed
df = pd.read_sql_query('SELECT * FROM METEOROLOGICAL', con)

In [36]:
type(df)
# select climate site hyytiala
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350095 entries, 0 to 1350094
Data columns (total 34 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   record_id       1350095 non-null  int64
 1   site            1350095 non-null  object
 2   site_id         1350095 non-null  int64
 3   timestampStart  1350095 non-null  int64
 4   timestampEnd    1350095 non-null  int64
 5   date            1350095 non-null  object
 6   year            1350095 non-null  int64
 7   day             1350095 non-null  int64
 8   mo              1350095 non-null  int64
 9   taFMDS_degC     1328839 non-null  float64
 10  taFMDS_qc       1328839 non-null  float64
 11  taF_degC        1350095 non-null  float64
 12  taF_qc          1350095 non-null  int64
 13  swInFMDS_Wm2    1339109 non-null  float64
 14  swInFMDS_qc     1339109 non-null  float64
 15  swInF_Wm2       1350095 non-null  float64
 16  swInF_qc        1350095 non-null  int64
 17  lwInFMDS_Wm2    570686 non-null   float64
 18  lwInFMDS_qc     570686 non-null   float64
 19  lwInF_Wm2       1350095 non-null  float64
 20  lwInF_qc        1350095 non-null  int64
 21  vpdFMDS_hPa     1303975 non-null  float64
 22  vpdFMDS_qc      1303975 non-null  float64
 23  vpdF_hPa        1350095 non-null  float64
 24  vpdF_qc         1350095 non-null  int64
 25  pa_kPA          1016921 non-null  float64
 26  ws_ms1          1122603 non-null  float64
 27  paF_kPa         1350095 non-null  float64
 28  paF_qc          1350095 non-null  int64
 29  p_mm            1015431 non-null  float64
 30  pF_mm           1350095 non-null  float64
 31  pF_qc           1350095 non-null  int64
 32  wsF_ms1         1350095 non-null  float64
 33  wsF_qc          1350095 non-null  int64
dtypes: float64(18), int64(14), object(2)
memory usage: 350.2+ MB


## choose sites
### condition: in same ecosystem, e.g. conifer

- F.5.2 -> species-rich, eutrophic and eu-mesotrophic beech and mixed beech forests
- F.5.1 -> species-poor, oligotrophic to mesotrophic beech and mixed beech

- D.1.3 -> southern boreal coniferous forests: spruce
- F.1 -> species-poor acidophilous, oligo- to mesotraphent oak and mixed oak frests

### same ecosystem:
##### mixed conifers & deciduous
- 3: fagus sylvatica (deciduous), Abies alba (conifer), Picea abies (conifer)
- 5: fagus sylvatica, Abies alba, Geranium nodosum(decid), Trochiscanthes nodiflora (decid)
- 12: Picea abies, dwarf shrubs and herbaceous plants

##### others
- 14: Quercus robur, Pinus pinaster (c)
- 21: Fagus sylvatica, Fraxinus excelsior (decidous only)

In [31]:
#print(df[df.loc[df['site']=='soro']['natVegetation_description']])
df

,site_id,site,lat,lon,epsg,country,aspect_deg,elevation_masl,slope_percent,natVegetation_code1,natVegetation_code2,natVegetation_description
0,3,bily_kriz,49.300000,18.320000,4326.0,Czech Republic,180.0,875.0,12.5,F.5.2.3,F134,Hercynian (spruce-)fir-beech forests (Fagus sy...
1,5,collelongo,41.849336,13.588217,4326.0,Italy,252.0,1560.0,10.0,F.5.2.3,F146,North and middle Apennine beach forests (Fagus...
2,12,hyytiala,61.847420,24.294770,4326.0,Finland,180.0,185.0,2.0,D.1.3,D7,Fennoscandianmoss-rich spruce forests (Picea a...
3,13,kroof,48.250000,11.400000,4326.0,Germany,1.8,502.0,2.1,F.5.1.2,F85,Central European Luzula luzuloides-(sessile oa...
4,14,le_bray,44.717110,-0.769300,4326.0,France,NaN,61.0,0.0,F.1.1,F7,Aquitanian pedunculate oak forests (Quercus ro...
5,16,peitz,51.916600,14.350000,4326.0,Germany,NaN,50.0,0.0,D.5.3.1,D54,SouthScandinavian-east Central European dwarf ...
6,20,solling_beech,51.770000,9.570000,4326.0,Germany,225.0,504.0,1.0,F.5.1.2,F83,(Atlantic-)subatlantic Luzula luzuloides-(sess...
7,21,soro,55.485844,11.644616,4326.0,Denmark,NaN,40.0,0.0,F.5.2.1,F108,South Scandinavian-north Central European Gali...
8,25,solling_spruce,51.764700,9.579700,4326.0,Germany,90.0,508.0,1.0,F.5.1.2,F83,(Atlantic-)subatlantic Luzula luzuloides-(sess...
9,99,global,0.000000,0.000000,NaN,World,NaN,508.0,NaN,none,none,none